.oie {
    font-size: 80px;
    text-align: center;
    color: brown;
background-color: blue;
}
#lista-de-compras {
    font-size: 60px;
    color: red;


}
.quadrinhos {
    font-family: "comic ";
}
 .fonte-dh {
     font-family: "Rajdhani" , sans-serif;
     font-weight: boler;
 }

 .div {
     color: green;
 }